.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    min-height: 56px;
    margin: 28px 0 38.25px 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 768px) and (min-width: 321px){
    .header {
      max-width: 760px;
      min-height:60px;
      margin: 35px auto 30px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .header {
      max-width: 800px;
      min-height:68px;
      margin: 40px auto 30px;
    }
}

@media screen and (min-width: 1025px){
    .header {
      max-width: 880px;
      min-height:74px;
      margin: 45px auto 36.25px;
    }
}