.popup__form {    
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 282px;
    min-height: 322px;
}

@media screen and (min-width: 880px){
    .popup__form {        
        min-width: 430px;
        min-height: 330px;
        position: relative;
    }  
}