.card__like {
    background-color: #ffffff;
    border: 0;
    min-width: 22px;
    min-height: 19px;
    background-image: url(../../../images/photo-grid_like.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 25px 0 0;
    padding: 0;
}

.card__like:hover {
    opacity: .6;
}